.background {
  background-color: #3F4777;
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  z-index: -99999;
}

.Login {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 30px !important;
}

Form * {
  font-size: 20px !important;
  margin-bottom: 20px;
}

Form {
  padding: 75px;
  padding-top: 50px;
}

.loginForm {
  position: relative;
  background-color: #F5F5F5;
  margin: 0;
  height: 60%;
  padding: 100px;
  padding-top: 50px;
}

Button {
  display: table-cell !important;
  vertical-align: middle !important;
  margin: auto !important;
  text-align: center !important;
}

@media only screen and (max-width: 699px) {
  Form * {
    font-size: 16px !important;
    margin-bottom: 10px;
  }
  Form {
    padding: 50px;
  }
}

@media only screen and (max-width: 510px) {
  Form * {
    font-size: 14px !important;
    margin-bottom: 10px;
  }
  Form {
    padding: 25px !important;
  }
}

@media only screen and (max-width: 360px) {
  Form * {
    font-size: 12px !important;
    margin-bottom: 5px;
  }
  Form {
    padding: 20px !important;
  }
}